<mat-card>
  <mat-card-header>
    <img *ngIf="expression.action === 'add'" mat-card-avatar src="assets/plus.png">
    <img *ngIf="expression.action === 'multiply'" mat-card-avatar src="assets/close.png">
    <mat-card-title>{{expression.action}}</mat-card-title>
    <mat-card-subtitle>{{ getValid() }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <p class="text-center"> {{"First Value :  " + expression.p}}</p>
      <hr>
      <p class="text-center"> {{"Second Value :  " + expression.q}}</p>
      <hr>
      <p class="text-center">Answer</p>
      <p class="text-center" [ngStyle]="{color : getStyle()}">{{ result()}}</p>
    </div>
  </mat-card-content>
</mat-card>
